@import "../../mixins.scss";

// div[class*="skeleton"] {
//   border-radius: 8px;
//   background-color: #888;
// }

// For nav
.nav-skeleton {
  width: 100%;
  height: 76px;

  @include desktop {
    height: 86px;
  }
}

// For tools modal
.modal-for-tools-skeleton {
  width: 100%;
  height: 320px;
}

// Auto styled
// .card-skeleton {

// }

//
