@import "../../mixins.scss";

nav {
  position: fixed;
  width: 100%;
  padding: 14px 24px;
  left: 0;
  z-index: 50;
  background: linear-gradient(rgba(#121212, 1), rgba(#121212, 0));

  @include tablet {
    padding: 14px 30px;
  }

  @include desktop {
    padding: 14px 50px;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
      display: flex;
      align-items: center;
      gap: 12px;

      .logo-image-container {
        img {
          height: 44px;
        }
      }

      .logo-name {
        @include fontProp($montserrat, 700, 14px, #fff);
      }

      @include tablet {
        gap: 14px;

        .logo-image-container {
          img {
            height: 50px;
          }
        }

        .logo-name {
          font-size: 16px !important;
        }
      }
    }

    .burger-menu {
      cursor: pointer;
      @include flexCenter;

      img {
        width: 25px;
      }

      @include tablet {
        display: none;
      }
    }

    // Buttons
    .button-container {
      display: none;
      gap: 30px;

      button {
        padding: 8px;
        background-color: transparent;
        @include fontProp($montserrat, 500, 14px, #fff);
        border-radius: 4px;
        cursor: pointer;
      }

      @include tablet {
        display: flex;
      }

      @include desktop {
        gap: 60px;
      }
    }
  }
}
