@import '../../mixins.scss';

nav {
  position: fixed;
  width: calc(100% - (24px * 2));
  margin-top: 28px;
  z-index: 50;

  @include tablet {
    width: calc(100% - (30px * 2));
  }

  @include desktop {
    width: calc(100% - (50px * 2));
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
      display: flex;
      align-items: center;
      gap: 12px;

      .logo-image-container {
        img {
          height: 44px;
        }
      }

      .logo-name {
        @include fontProp('Montserrat', 700, 14px, #fff);
      }

      @include tablet {
        gap: 14px;

        .logo-image-container {
          img {
            height: 50px;
          }
        }

        .logo-name {
          font-size: 16px !important;
        }
      }
    }

    .burger-menu {
      @include flexCenter;

      img {
        width: 25px;
      }

      @include tablet {
        display: none;
      }
    }

    // Buttons
    .button-container {
      display: none;
      gap: 30px;
      
      button {
        padding: 8px;
        background-color: transparent;
        @include fontProp('Montserrat', 500, 14px, #fff);
        cursor: pointer;
      }

      @include tablet {
        display: flex;
      }

      @include desktop {
        gap: 60px;
      }
    }
  }

}