@import '../../mixins.scss';

.page-number-container {
  position: absolute;
  bottom: 34px;
  left: 0;
  pointer-events: none;
  z-index: 30;
  opacity: 0.5;
    
  .page-number {

    @include fontProp($montserrat, 800, 48px, #5e5e5e);
    
    @include desktop { font-size: 94px !important; }
  }

  .page-underline {
    width: 100%;
    height: 6px;
    background-color: #5e5e5e;
  }
}