@import '../../mixins.scss';

.scroll-down {
  position: absolute;
  top: 0;
  left: 0;
  @include fontProp('Montserrat', 500, 12px, #fff);
  display: flex;
  flex-direction: column;

  .text {
    transform: rotate(90deg);
  }
  
  .arrow-container {
    transform: rotate(90deg);
  }
}