@import "../../mixins.scss";

.sidebar {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 0.1s ease-in;
  padding: 0 24px;

  .sidebar-nav {
    height: 76px;
    width: 100%;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 48px;
      height: 48px;
      background-color: #0f0;
    }



    .close-sidebar {
      display: flex;

      img {
        height: 25px;
        cursor: pointer;
      }
    }
  }

  .button-container {
    margin: 24px 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
      cursor: pointer;
      padding: 12px 0;
      border-radius: 8px;
      @include fontProp($montserrat, 400, 18px, #fff);
      background-color: transparent;
      transition: 0.1s ease;

      &:hover {
      font-weight: bold;
      }
    }
  }

  @include desktop {
    display: none;
  }
}
