@import "../../../mixins.scss";

.page-03 {
  .my-works-header {
    @include fontProp("Montserrat", 700, 32px, #fff);

    @include tablet {
      font-size: 36px !important;
    }

    @include desktop {
      font-size: 48px !important;
    }
  }

  @include desktop {
    padding: 110px 90px 0 90px;
  }
}
